---
import Button from "@components/Button.astro";
import { t } from "@i18n/t";

interface Props {
    collateralSymbol: string;
}

const { collateralSymbol } = Astro.props;
const tt = t(Astro.url);
---

<div>
    <div id="actions-connected" class="hidden">
        <div id="approve-row" class="hidden mb-3">
            <Button id="btn-approve" fullWidth>Approve {collateralSymbol}</Button>
        </div>
        <Button id="btn-borrow" fullWidth>Mint</Button>
    </div>
    <div id="actions-disconnected">
        <Button id="btn-connect" fullWidth>{tt("wallet_connect")}</Button>
    </div>
</div>

<p id="banner" class="mt-4 hidden rounded-md border border-amber-500/30 bg-amber-500/10 p-3 text-[13px] text-amber-700 dark:text-amber-400"></p>